
*, *::before, *::after {
box-sizing: border-box;
font-family: Arial, sans-serif;
}

body {
background: linear-gradient(to right, aquamarine, rgb(207, 115, 230), rgb(163, 96, 163));
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
margin: 0;
padding: 0;
}

.container {
max-width: 90%;
width: 1200px;
background-color: white;
box-shadow: 0 5px 10px black;
border-radius: 5px;
}

.content {
padding: 40px;
margin-top: 50px;
}

.temp {
font-weight: bold;
font-size: 48px; 
}

.button-container {
text-align: center;
}

.button-container > button {
margin: 0;
padding: 10px 18px;
color: white;
background-color: #008000;
border: none;
border-radius: 3px;
transition: all 200ms ease-in-out;
font-size: 14px;
display: flex;
}

.button-container > button:hover {
background-color: #00A000;
/* Adding more styling */
padding: 10px;
margin-top: 10px;
}

.button-container > button:active {
background-color: #006000;
}
